[submodule "lib/vendor/pake"]
	path = lib/vendor/pake
	url = http://github.com/c2corg/pake-1.1.5.git
[submodule "lib/vendor/lime"]
	path = lib/vendor/lime
	url = http://github.com/c2corg/lime-1.0.4.git
